<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- IMPORTANTE: Deshabilitar WebSocket de IIS para que iisnode maneje las conexiones -->
        <webSocket enabled="false" />
        
        <!-- Handlers para iisnode -->
        <handlers>
            <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
        </handlers>


        <!-- REGLAS -->
        <rewrite>
            <rules>
                <!-- No sobreescribir solicitudes de IIS -->
                <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^[a-zA-Z0-9_\-]+\.js\.logs\/\d+\.txt$"/>
                </rule>


                <!-- Tipo de JS SIEMPRE USAR ECMAScript -->
                <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">                    
                    <match url="^app.js\/debug[\/]?" />
                </rule>


                <!-- Configuracion punto de inicio app.js -->
                <rule name="DynamicContent">
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
                    </conditions>
                    <match url="(.*)" />
                    <action type="Rewrite" url="app.js"/>
                </rule>
            </rules>
        </rewrite>


        <!-- IIS NODE, verificar que la libreria este instalada-->
        <iisnode 
            nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"
            loggingEnabled="true"
            devErrorsEnabled="true"
            debuggingEnabled="true"
            nodeProcessCountPerApplication="1"
            maxConcurrentRequestsPerProcess="1024"
        />


        <!-- Seguridad del servidor-->
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="node_modules" />
                </hiddenSegments>
            </requestFiltering>
        </security>
        
        <staticContent>
            <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
        </staticContent>


    </system.webServer>
</configuration>
